@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;

}

body{
    background-color: hsl(212, 45%, 89%);
}

.container{
    border-radius: 15px;
    height: 450px;
    width: 280px;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.img{
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 15px;
    height: 250px;
    width: 250px;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.textBox{
    margin-top: 280px;
    margin-left: 15px;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.textBox h2{
    max-width: 250px;
    font-size: 19px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.textBox p{
    margin-top: 20px;
    max-width: 250px;
    font-size: 13px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: 590;
}
